<section id="conferences">
<!-- Page Content -->

    <div class="content-section-b">

        <div class="row text-center">
            <h1>Conference Proceedings</h1>
            <br/><br/>
        </div>

        <div class="row">
            <div class="col-lg-12 col-lg-offset-2">
                <br/>
                <ul>
                    <li> <p>S. Cruz-Adrados, R. M. Menchón-Lara and B. Mandracchia. 
                            Open-Source Framework for Multimodal Microscopy. 
                            SPIE Optical Metrology Meeting Information, Munich, Germany (2025). 
                            Poster presentation.</p> </li>

                    <li> <p>B. Mandracchia, et al. 
                            High-Speed Fluorescence Microscopy for Multimodal Biological Imaging. 
                            SPIE Optical Metrology Meeting Information, Munich, Germany (2025). 
                            Oral presentation.</p> </li> 

                    <li> <p>E. Moya-Sáez, R. M. Menchón-Lara, et al. 
                            K-CC-MoCo: A fast respiratory motion correction in coil-compressed K-space for highly accelerated first-pass
                            perfusion cardiac MRI. 
                            2025 ISMRM & ISMRT Annual Meeting & Exhibition, Honolulu, Hawai'i, USA (2025). 
                            Oral presentation.</p> </li> 

                    <li> <p>B. Mandracchia, et al. 
                            High-speed optical imaging with sCMOS pixel reassignment. 
                            Spanish Portuguese Meeting for Advanced Optical Microscopy (SPAOM), Toledo, Spain (2024). 
                            Poster + Power Pitch presentation.</p> </li> 

                    <li> <p>J. Pita-López, et al. 
                            bioMONAI: an open-source framework to facilitate deep learning in biomedicine. 
                            Congreso Anual de la Sociedad Española de Ingeniería Biomédica (CASEIB), Sevilla, Spain (2024). 
                            Oral presentation.</p> </li> 

                    <li> <p>R. M. Menchón-Lara and B. Mandracchia.
                            deepCLEM: a new Deep-Learning-based Platform for Label-Free Correlative Light and Electron Microscopy. 
                            Congreso Anual de la Sociedad Española de Ingeniería Biomédica (CASEIB), Sevilla, Spain (2024). 
                            Poster presentation.</p> </li> 

     <!--               <li>...</li>       -->
                </ul>

                <br/>
            </div>
        </div>



    </div>

    
   
</section>
