<section id="journals">
<!-- Page Content -->

    <div class="content-section-a">

        <div class="row text-center">
            <h1>Journal Papers</h1>
            <br/>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br/>
                <ul>
                    <li>S. Cruz-Adrados, J. Pita-López, M. Á. Martín-Fernández, P. Casaseca-de-la-Higuera, M. Martín-Fernández, 
                        R. M. Menchón-Lara and B. Mandracchia. bioMONAI: a low-code platform for deep learning in biomedical research. 
                        Bioinformatics (<i>Under review</i>, <a href="https://www.techrxiv.org/users/928236/articles/1301809-biomonai-a-low-code-platform-for-deep-learning-in-biomedical-research?commit=6495fc04ae3de0e72035297dd9229566c89f58e6" target="_blank">pre-print version</a>).</li>
                        
                    <li>P. Villacorta-Aylagas, C. Castillo-Passi, R. A. Kierulf, R. M. Menchón-Lara et al. Versatile and Highly Efficient MRI Simulation of Arbitrary
                        Motion in KomaMRI. Magnetic Resonance in Medicine, 2025. <a href="https://doi.org/10.1002/mrm.70145" target="_blank" ></a>. </li>
                        <!--               <li>...</li>       -->
                </ul>

                <br/>
            </div>
        </div>

    </div>
   
</section>
