<section id="journals">
<!-- Page Content -->

    <div class="content-section-a">

        <div class="row text-center">
            <h1>Journal Papers</h1>
            <br/>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br/>
                <ul>
                    <li>S. Cruz-Adrados, J. Pita-López, M. Á. Martín-Fernández, P. Casaseca-de-la-Higuera, M. Martín-Fernández, 
                        R. M. Menchón-Lara and B. Mandracchia. bioMONAI: a low-code platform for deep learning in biomedical research. 
                        Bioinformatics (<i>Under review</i>).</li>

     <!--               <li>...</li>       -->
                </ul>

                <br/>
            </div>
        </div>

    </div>
   
</section>
