<section id="people">
<!-- Page Content -->
    <div class="content-section-a">
        <div class="container">

            <div class="row text-center">
                <h1>Principal Investigators</h1>
                <br/>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a href="https://bmandracchia.github.io/">Biagio Mandracchia</a></h2>
                    <div class="lead">Ramón y Cajal Research Fellow at the Universidad de Valladolid.</div>
                    <img class="img-responsive" src="img/people/profileBM.png" alt=""><br/>
                </div>

                <div class="col-lg-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a href="https://lpi.tel.uva.es/rmenchon">Rosa María Menchón-Lara</a></h2>
                    <div class="lead">Postdoctoral researcher at the Universidad de Valladolid.</div>
                    <img class="img-responsive" src="img/people/profileRM.jpg" alt=""><br/>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2 col-sm-6">
                        <!-- <hr class="section-heading-spacer"> -->
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Research Team</h2>
                        <div class="lead">
                            <h3><a href="https://lpi.tel.uva.es/marcos">Marcos Martín-Fernández</a>
                                <br/><br/>
                            <a href="https://lpi.tel.uva.es/casaseca">Pablo Casaseca-de-la-Higuera</a></h3>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <!-- <hr class="section-heading-spacer"> -->
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Work Team</h2>
                        <div class="lead"><h3>Miguel Á. Martín-Fernández<br/>
                            Patricia Amado-Caballero<br/>
                            Juliana Manosalva Pérez<br/>
                            Clara Martín de las Heras</h3>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a --> 

</section>
