<section id="people">
<!-- Page Content -->
{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <br/><br/>
        <h1>Principal Investigators</h1>
        <br/>

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a href="https://bmandracchia.github.io/">Biagio Mandracchia</a></h2>
                    <div class="lead">Hello! I am Biagio Mandracchia, a Ramón y Cajal Research Fellow at the University of Valladolid. 
                        My primary research interest lies in the field of fluorescence microscopy and image restoration. 
                        Over the years, I have dedicated my efforts to developing innovative techniques aimed at enhancing the clarity and quality of microscopic images. 
                        These advancements are crucial for various scientific fields, enabling researchers to observe and analyze biological processes with greater precision.
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/people/profile.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Rosa María Menchón-Lara</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/people/profile.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>
