<section id="people">
<!-- Page Content -->
    <div class="content-section-a">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h1>Principal Investigators</h1>
            <br/>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a href="https://bmandracchia.github.io/">Biagio Mandracchia</a></h2>
                    <div class="lead">Ramón y Cajal Research Fellow at the Universidad de Valladolid.</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/people/profile.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a href="https://lpi.tel.uva.es/rmenchon">Rosa María Menchón-Lara</a></h2>
                    <div class="lead">Postdoctoral researcher at the Universidad de Valladolid.</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/people/profile.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

</section>
